
html, body {
  font-family: sans-serif;
  background-color: white;
}

body {
  background-color: black;
}

section {
  padding-top: 40px;
  background-color: white;
}

h1 {
  text-align: center;
}

main {
  width: 1000px;
  height: 567.5px;
}

.input_video {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 32px;
  left: 0;

}


.output_canvas, waxml-xy-area#grid {
  /*
  max-width: 100% ;
  display: block;
  position: relative;
  left: 0;
  top: 0;
  */

  display: block;
  position: absolute;
  width: 100vw;
  height: 56.75vw;
}

navigation {
  position: absolute;
  display: block;
  width: 100%;
  height: 31px;
  background-color: #999;
  padding: 5px;

}

navigation > h1 {
  display: inline-block;
  margin: 0px 10px;
  font-size: 15px;
}
navigation > a,
navigation > select {
  position: relative;
  display: inline-block;
  background-color: white;
  color: #333;
  text-align: center;
  margin: 0px;
  width: 90px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #333;
  text-decoration: none;
}



#edit {
  padding: 10px; 
  padding-top: 50px;
}

#edit input {
  width: 30em;
  padding: 3px;
  margin: 3px;
}

.block {
  display: block;
}

textarea {
  margin: 0px;
  width: 100%;
  height: 480px;
  box-sizing: border-box;
  overflow: scroll;
}

#help {
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
}


#help  img {
  width: 300px;
  height: auto;
  display: block;
}

#edit #statistics-container {
  float: right;
  column-count: 3;
}

#edit #statistics {
  right: 1em;
  font-size: 0.6em;
}

#edit #statistics tr {
  border: 1px solid #999;
}


#edit #statistics thead, 
#edit #statistics tfoot {
  font-weight: bold;
}

#edit #statistics th:first-child {
  text-align: left;
}
#edit #statistics tr > *:nth-child(2) {
  text-align: right;
}


.controllers {
  position: absolute;
  z-index: 0;
  opacity: 0;
}

.sliders {
  position: relative;
  display: inline-block;
  margin-top: 200px;
  margin-left: 100px;
}

.sliders .container {
  display: inline-block;
  margin-right: 60px;
  width: 70px;
  height: 3500px;
}

.sliders waxml-xy-area {
  position: relative;
  display: inline-block;
  background-color: rgba(51, 51, 51, 0.303);
  height: 300px;
}

.sliders waxml-xy-handle {
  width: 70px;
}

waxml-xy-handle.remoteOver {
  background-color: rgb(255, 201, 84) !important;
}
waxml-xy-handle.remoteControl {
  background-color: rgb(0, 255, 13) !important;
}

.sliders h3, .sliders waxml-xy-area {
  border: 1px solid black;
  border-radius: 5px;
  width: 70px;
}


.sliders h3, .XY h3 {
  height: 23px;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.7);
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  margin-bottom: 2px;
}


.XY {
  position: relative;
  display: inline-block;
  margin-top: 200px;
}

.XY waxml-xy-area {
  background-color: rgba(51, 51, 51, 0.303);
  border: 1px solid black;
  border-radius: 5px;
  height: 300px;
  width: 600px;
}
.XY waxml-xy-handle {
  width: 60px;
  height: 30px;
  border-radius: 20px !important;
  color: white;
}