html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

body {
    padding: 1em 3em;
    width: 800px;
    margin: 0 auto;
}

textarea {
    display: block;
    width: 90%;
    height: 70%;
    padding: 1em;
    border: 0px;
    border-top: 1px solid grey;
    margin-top: 1em;
}

p {
    width: 70%;
}

a {
    text-decoration: none;
}

waxml-meter {
    display: inline-block !important;
    background-color: black;
    border-radius: 5px;
    margin: 1em 0;
    padding: 0.2em;
}
waxml-inspector {
    display: inline-block !important;
    margin: 1em 0;
}
waxml-inspector > div,  waxml-inspector > canvas {
    border: 1px solid grey;
    width: 50%;
    height: 50%;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
    padding: 0.2em;
}

label {
    display: block;
}

.synth {
    background-color: black;
    color: white;
    width: 610px;
    padding: 0.5em;
    border-radius: 5px;
    margin: 1em 0;
}

.synth h3 {
    margin: 0;
    padding: 0;
}
.synth.subtractive {
    background-color: red;
    border: 1px solid rgb(255, 135, 135);
}
.synth.additive {
    background-color: rgb(41, 144, 255);
    border: 1px solid rgb(141, 165, 255);
}
.synth.FM {
    background-color: rgb(0, 116, 31);
    border: 1px solid rgb(161, 255, 186);
}
.synth.granular {
    background-color: rgb(181, 91, 2);
    border: 1px solid rgb(183, 128, 74);
}
.synth.sample-player {
    background-color: rgb(114, 114, 114);
    border: 1px solid rgb(178, 178, 178);
}