
/* Detta sätter alla grundmarginaler till 0 och ser till att sidan fyller hela webbläsaren */
body {
	font-family: sans-serif;
}



waxml-xy-area {
	width: 300px;
	height: 300px;
	display: inline-block !important;
}

iframe {
	display: inline-block;
	display: none;
	width: 533px;
	height: 300px;
}


body input {
	width: 295px;
}