
/* Detta sätter alla grundmarginaler till 0 och ser till att sidan fyller hela webbläsaren */
body {
	font-family: sans-serif;
}

#control-labels {
	margin: 1em 0;
}


waxml-xy-area {
	width: 300px;
	height: 300px;
	margin-top: 50px;
	border: 1px solid #333;
	display: inline-block !important;
}

waxml-xy-area div {
	margin-top: -30px;
	text-align: center;
}


iframe {
	display: inline-block;
	display: none;
	width: 533px;
	height: 300px;
}


body input {
	width: 295px;
}

video {
	width: 80%;
	height: auto;
	display: block;
}