html, body {
	height: 100%;
	user-select: none;
	-webkit-user-select: none;
	font-family: sans-serif;
	background-color: black;
}

* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webk	it-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

/* #container {
	display: flex;
	flex-flow: row;
	height: 100%;
	width: 100%;
} */
#container > div {
	height: 550px;
	padding: 20px;
	box-sizing: content-box;
}


#code {
	border-radius: 10px;
	background-color: black;
	display: inline-block;
	width: 450px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(GUI/code.png);
}

#synth {
	display: inline-block;
	border-radius: 10px;
	background-color: #210;
	color: #ebab34;
	width: 700px;
	text-align: center;
	font-weight: normal;
}
#synth > * {
	width: 660px;
	margin: 10px auto;
}
#synth h3 {
	padding: 5px;
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: 7px;
	border-top: 1px solid #ebab34;
	border-bottom: 1px solid #ebab34;
}
#synth #GUI {
	padding: 10px;
	border-bottom: 1px solid #ebab34;
}

#synth #GUI > div {
	display: inline-table;
}
#synth #GUI #envelope {
	margin-left: 50px;
}
#synth #GUI .knob {
	display: inline-block;
	padding-right: 30px;
}
#synth #GUI .slider {
	display: inline-block;
	padding-right: 10px;
}
#GUI webaudio-knob {
	display: block;
}
#GUI webaudio-slider {
	display: block;
}
#GUI webaudio-param {
	margin-top: 10px;
	display: block;
}
#keyboard {
	padding: 2px;
	margin: 10px;
	border-radius: 5px;
	background-color: #333;
	opacity: 0.2;
}
button#power {
	background-color: #ebab34;
	border-radius: 10px;
}


.arrow {
  border: solid #ebab34;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
	height: 100%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
