
html, body {
  font-family: sans-serif;
}

main {
  width: 72vw;
  height: 100%;
  margin: 0 auto;
}

.giant {
  font-family: 'Courier New', Courier, monospace;
  font-size: 5em;
  text-align: center;
  margin: 0 auto;
  width: 100vw;
}

img {
  width: 25vw;
  height: auto;
}

waxml-midi-controller {
  width: 72vw !important;
  margin: 0 auto;
}

button {
  visibility: hidden;
}