/* Detta sätter alla grundmarginaler till 0 och ser till att sidan fyller hela webbläsaren */
html, body {
	margin: 0px;
	padding: 0px;

	width: 100%;
	height: 100%;
	overflow: hidden;
}


body {
	background-color: white;
	font-family: sans-serif;
}

.client {
	text-align: center;
}

h1 {
	color: white;
	text-align: center;
}

a {
	text-decoration: none; /* tar bort understrykningar i länkar */
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

div {
  margin: 1em;
}

#touchArea {
	position: relative;
	background-color: grey;
	border: 1px solid black;
	flex: 1 1 auto;
	margin-bottom: 2em;
	overflow: hidden;

	background-image: linear-gradient(white 1px, transparent 0),
                  linear-gradient(90deg, white 1px, transparent 0);
	background-size: 10% 25%;
  xbackground-image: linear-gradient(90deg, rgba(255,255,255,0.2), rgba(255,255,255,0.2) 50%, transparent 50%, transparent),
  linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2) 50%, transparent 50%, transparent);
}

#container {
  display: flex;
  flex-flow: column;
  height: 100%;
}




/* De här måtten gör att formatet för den sidans innehåll är 16:9 med bredden 1000 pixlar */
main {
	background-color: white;
	width: 1000px;
	height: 562.5px;
}


/* Det här är ett sätt att skapa olika sidor/sections som är gömda från början (opacity: 0)
	och ligger underst (z-index: -1)
	Toningnen sker på en halv sekund (transition: 0.5s)
*/

section{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -1;
	transition: 0.5s;
	padding: 20px;
	box-sizing: border-box;
}

ul {

	margin-top: 0px;
	margin-bottom: 0px;
}


/* När en section är "target" (d.v.s. man har klickat på en länk som pekar på det id:t blir den synlig - opacity: 1
	och ligger längst fram - z-index: 1 */
section:target {
	opacity: 1;
	z-index: 0;
}

* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

a #dialog {
	display: none;
	position: absolute;

	border: 1px solid grey;
	box-shadow: 0px 0px 10px black;
	border-radius: 10px;
	background-color: white;
	padding: 20px;

	top: 10%;
	left: 10%;
	width: 70%;
	height: 70%;

	color: black;
}

/* skriv regler för respektive sida här nedanför */
#startpage  {
	text-align: center;
}

#stringSelectors, #musicSelectors {
	padding-left: 1em;
}

.string {
	display: inline-block;
	float: left;
	padding-left: 1em;
	margin: 1em;
	border: 1px solid grey;
	border-radius: 1em;
	background-color: #933;
}

.string h2 {
	color: white;
}

.distance {
	display: block;
}
a.btn {
	margin-right: 1em;
	margin-bottom: 1em;
	font-size: 1em;
	padding: 0.5em 1em;
	width: 7em;
	border: 1px solid grey;
	border-radius: 0.5em;
	background-color: white;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;
	font-size: 2em;
	display: block;
	margin: 0.5em auto;



}

* {

	-webkit-touch-callout: none; /* iOS Safari */
	-webk	it-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Old versions of Firefox */
	    -ms-user-select: none; /* Internet Explorer/Edge */
	        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}


a.btn:active {
	background-color: #69f;
}

#output {
	width: 90%;
	height: 5em;
	overflow: hidden;
	padding: 0.5em;
	color: green;
	font-family: monospace;
	font-size: 1.5em;
	text-align: left;
}
