waxml-xy-handle {
    opacity: 0;
}
waxml-xy-handle.changed {
    opacity: 1;
}
waxml-xy-handle.dragged {
    background-color: green !important;
}

waxml-xy-area {
}
img {
    max-width: 50%;
    height: auto;
}


#meter {
    height: 20px;
    background-color: brown;
}